@page "/"
@using MyBlazorTest.DAL;
@using MyBlazorTest.BL;
@using NHibernate;

@inject ISessionFactory _sessionFactory;
@code {

}


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@


@if (cats == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Sex
                </th>
                <th>
                    Weight
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cats)
            {
                <tr>
                    <td>
                        item.Name
                    </td>
                    <td>
                        item.Sex
                    </td>
                    <td>
                        item.Weight
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}


@code {

    IList<Cat> cats;

    protected override async Task OnInitializedAsync()
    {
        using (NHibernate.ISession session =  _sessionFactory.OpenSession())
        {

            List<Cat> customers = session.Query<Cat>().ToList();
        }
    }


}
